* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.profile-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(24, 25, 28);
  width: 300px;
  height: 152px;
  border-radius: 7px;
}

.profile-banner-box {
  background-color: rgba(116, 124, 140);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  position: relative;
  height: 60px;
}

.profile-image-box {
  position: relative;
  top: -49px;
  left: 8.5px;
}

.profile-image-box img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 6px solid rgba(24, 25, 28);
  background-color: #18191c;
}

.profile-nickname-and-name-sharp-tag-box {
  position: relative;
  top: -47px;
  left: 16px;
  color: rgba(243, 243, 243);
  font-size: 18px;
}

.profile-nickname-and-name-sharp-tag-box .name-and-tag {
  color: rgba(148, 150, 152);
  font-size: 10px;
}